name: shipping-on-the-air

services:
  account-service:
    build:
      context: ./account-service
    image: account-service
    container_name: account-service-01
    networks:
      - shipping_on_the_air_network
    ports:
      - "9000:9000"
    expose: 
      - 9000
    restart: always
  lobby-service:
    build:
      context: ./lobby-service
    image: lobby-service
    container_name: lobby-service-01
    networks:
      - shipping_on_the_air_network
    ports:
      - "9001:9001"
    expose: 
      - 9001
    restart: always
  delivery-service:
    build:
      context: ./delivery-service
    image: delivery-service
    container_name: delivery-service-01
    networks:
      - shipping_on_the_air_network
    ports:
      - "9002:9002"
    expose:
      - 9002
    restart: always
  api-gateway:
    build:
      context: ./api-gateway
    image: api-gateway
    container_name: api-gateway-01
    networks:
      - shipping_on_the_air_network
    ports:
      - "8080:8080"
    expose:
      - 8080
    healthcheck:
      test: curl --fail http://api-gateway:8080/health || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
    labels:
        - "autoheal=true"
    restart: always
  autoheal:
    image: willfarrell/autoheal:1.1.0
    tty: true
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
networks:
  shipping_on_the_air_network:
